<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
  <!-- Root Context: defines shared resources visible to all other web components -->


    <context:annotation-config/>

    <context:component-scan base-package="org.seckill"/>
    <import resource="classpath:spring/spring-dao.xml"/>
    <import resource="classpath:spring/spring-service.xml"/>
    <bean class="org.seckill.cache.RedisConfig"/>
    <!--  Redis目前使用的是基于Java的配置 基于xml的配置需要开启此项 部分配置尚未完成
    <import resource="classpath:spring/spring-redis.xml"/>
    -->
  <!--  使用Google的Protostuff时需要加载的Bean 目前用的是自带的序列化工具
    <bean id="redisDao" class="org.seckill.cache.RedisDao">
      <constructor-arg index="0" value="localhost"/>
      <constructor-arg index="1" value="6379"/>
    </bean>
    -->

</beans>
