<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
  <!-- Root Context: defines shared resources visible to all other web components -->


    <context:annotation-config/>

    <context:component-scan base-package="org.seckill"/>
    <import resource="classpath:spring/spring-dao.xml"/>
    <import resource="classpath:spring/spring-service.xml"/>
    <import resource="classpath:spring/spring-redis.xml"/>
    <bean id="redisDao" class="org.seckill.cache.RedisDao">
      <constructor-arg index="0" value="localhost"/>
      <constructor-arg index="1" value="6379"/>
    </bean>

</beans>
