<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <!--    使用jdbc的getGeneretedKeys 获取数据库自增主键值-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--    使用别名替换列名-->
        <setting name="useColumnLabel" value="true"/>
        <!--
        开启驼峰命名转换 暂时不需要开启 开启会报错
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        -->

    </settings>
    <!-- 引入其他配置文件  存放sql语句 写全 全路径-->


</configuration>