<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd"
>
    <!--&lt;!&ndash;    Redis相关配置   &ndash;&gt;-->
    <!--&lt;!&ndash;    连接池 &ndash;&gt;-->
    <!--<bean id="jedisPool" class="redis.clients.jedis.JedisPoolConfig">-->
        <!--<property name="maxIdle" value="5"/>-->
        <!--<property name="maxTotal" value="100"/>-->
        <!--<property name="maxWaitMillis" value="20000"/>-->
    <!--</bean>-->
    <!--&lt;!&ndash;    连接工厂    &ndash;&gt;-->
    <!--<bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory" >-->
        <!--<property name="poolConfig" value="jedisPool"/>-->
        <!--<property name="port" value="6379"/>-->
        <!--<property name="hostName" value="localhost"></property>-->
    <!--</bean>-->
    <!--&lt;!&ndash;    jdk序列化  &ndash;&gt;-->
    <!--<bean id="jdkSerializationRedisSerializer" class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>-->
    <!--&lt;!&ndash;    String序列化   &ndash;&gt;-->
    <!--<bean id="stringRedisSerializer" class="org.springframework.data.redis.serializer.StringRedisSerializer"/>-->
    <!--&lt;!&ndash;    RedisTempalte   &ndash;&gt;-->
    <!--<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">-->
        <!--<property name="connectionFactory" ref="connectionFactory"/>-->
        <!--<property name="defaultSerializer" ref="stringRedisSerializer"/>-->
        <!--<property name="keySerializer" ref="stringRedisSerializer"/>-->
        <!--<property name="valueSerializer" ref="jdkSerializationRedisSerializer"/>-->
    <!--</bean>-->



</beans>
